@import "tailwindcss";

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: auto;
  overflow-x: hidden;

}
body {
    font-family: 'Melodrama', serif;
    font-weight: 400;
    color: #cacaca;
    background-color: #0F0F0F;
}

/* NavBar Hamburger Menu CSS */
 .hamburger {
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
   height: 40px;
   transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: #cacaca;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
   transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
              stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

/* Pulse Glow */
@keyframes pulse-glow {
  0% {
    background-color: #ff0000;  
    box-shadow: 0 0 1px #ff0000;
  }
  50% {
    background-color: #00ddff;  
    box-shadow: 0 0 2px #00ddff;
  }
  100% {
    background-color: #ff0000;
    box-shadow: 0 0 3px #ff0000;
  }
}

.animate-pulse-glow {
  animation: pulse-glow 3s ease-in-out infinite;
}

.hero-title, .hero-sub {
  opacity: 0;
  transform: translateY(20px);
}
